body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navlink {
  color: #fff;
}
.container {
  text-align: center;
  margin-top: 20px;
}
